<!DOCTYPE html>

<html>
    <head>
         <link rel="stylesheet" href= {{ url_for('static',filename='style.css') }} type="text/css" />
         
    </head>
    <body>
        <h1>
            <p style="color: blue;">Random artist: {{artist}}</p>
            
        </h1>
            <div class="list">
            <p>Top tracks:</p>
            <ol class="changeol"> 
                {%for i in range(0, len)%} 
  
                    <li>{{tracks[i]}}</li> 
                {%endfor%} 
            </ol>
            </div>
            
        
        
        <div class="preview">
        <h1>Random preview from the above list:
        {{track}} <br>
        
        Preview:<iframe src={{preview}} alt="not found" width="200" height="66" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        
        <p><img class="displayed" src='{{trackimage}}' alt="album image" width="460" height="345"></p>
        </h1>
       
        
    </body>
</html>